/*
    this style is applied everywhere in the admin pages of WP where the post is. (@dfd)
    When exporting (publishing) this is the 1st CSS and will be overriden by epdf.css then pdf.css (@dfd)
================== */

/* Chapter title */

.chapter-number{
    font-weight: bold;
    font-size: 100pt;
    text-align: right;
    font-family: symbol;
}
.chapter-title {
    color:#000000;
    font-family:Arial, sans-serif;
    font-size:30pt;
    line-height:1.8;
    text-align:right;
}

/* Packt Text and Paragraph styles */

h1, .packt_head1 {
    color:black;
    font-family: arial, sans-serif;
    font-size: 16pt;
    font-weight: bold;
}
h2, .packt_head2 {
    font-family: arial, sans-serif;
    font-size: 14pt;
    font-weight: bold;
}
h3, .packt_head3 {
    font-family: arial, sans-serif;
    font-size: 13pt;
    font-weight: bold;
}
h4, .packt_head4 {
    font-family: "Times New Roman", times, serif;
    font-size: 11pt;
    font-weight: normal;
    color:black;
    font-style:italic;
}
ul, .packt_bullet {
    font-family: "Times New Roman", times, serif;
    font-size: 11pt;
    font-weight: normal;
    list-style-type:disc;
}
ol, .packt_numbered {
    font-family: "Times New Roman", times, serif;
    font-size: 11pt;
    font-weight: normal;
}
.packt_normal {
    font-family: "Times New Roman", times, serif;
    font-size: 11pt;
    font-weight: normal;
    color:black;
}
code, .packt_code, .packt_codeblock, pre {
    font-family: monospace;
    font-size: 9pt;
    font-weight: normal;
    color:black;
    border-left:1px solid black;
    margin-left:20px;
    padding-left:5px;
    display: block;
    margin-bottom:0.12in;
}
.packt_figref {
    font-family: "Times New Roman", times, serif;
    font-size: 10pt;
    font-weight: normal;
    color:black;
}
q, .packt_quote {
    font-family: "Times New Roman", times, serif;
    font-size: 11pt;
    font-weight: normal;
    color:black;
    font-style:italic;
}
.packt_tip {
    font-family: "Times New Roman", times, serif;
    font-size: 11pt;
    font-weight: normal;
    color:black;
    font-style:italic;

    /* CDP-282 */
    background-image: url('../assets/fdf76e97-5d40-4505-bd11-c00a04e99661.png');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 0.6in;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 0.7in;
    min-height: 0.75in;
    /* END OF CDP-282 */
}
.packt_infobox {
    font-family: "Times New Roman", times, serif;
    font-size: 11pt;
    font-weight: normal;
    color:black;
    font-style:italic;

    /* CDP-282 */
    background-image: url('../assets/3318f405-ea6d-4cfe-9b19-9e457dfe4462.png');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 0.6in;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 0.7in;
    min-height: 0.75in;
    /* END OF CDP-282 */
}
kbd, .packt_action {
    font-family: monospace;
    font-size: 9pt;
    font-weight: normal;
}
.packt_italics {
    font-family: "Times New Roman", times, serif;
    font-size: 11pt;
    font-weight: normal;
    color:black;
    font-style:italic;
}
a, .packt_url {
    font-family: monospace;
    font-size: 9pt;
    font-weight: normal;
    text-decoration: none;
    word-break: break-all;
}

var, .packt_inlinemsgid {
    display:none;
}

p, .packt_para {
    text-align: left;
    font-family: "Times New Roman", times, serif;
    font-size:11pt;
    line-height:17px;
    color:black
}

.underline {
    text-decoration: underline;
}

.CDPImageAlign img,
.CDPAlign img {
    display:inline-block !important;
}
.CDPImageAlign {
    width: 100%;
    display: block;
}
.CDPAlign {
    width: 100%;
    display: block;
    margin-top: 0.18in;
    margin-bottom:0.18in;
}
.CDPAlignCenter {
    text-align: center;
}
.CDPAlignLeft {
    text-align: left;
}
.CDPAlignRight {
    text-align: right;
}

img.image-border {
    border: solid 1pt black;
}
body table {
  border-collapse: collapse;
}

body table td {
  border: 1px solid black;
  padding: 5px 10px;
}

.header-title {
  font-size: 40px;
}

img.inline-image {
  height: 1em;
}
