<html xmlns="http://www.w3.org/1999/xhtml"><head><title>Math</title><link href="core.css" rel="stylesheet" type="text/css"/><meta content="DocBook XSL Stylesheets V1.74.0" name="generator"/>
<meta content="urn:uuid:e0000000-0000-0000-0000-000000536657" name="Adept.expected.resource"/></head><body><div class="sect1" title="Math"><div class="titlepage"><div><div><h1 class="title"><a id="csharpess2-CHP-3-SECT-2"/>Math</h1></div></div></div><p>C# <a class="indexterm" id="csharpess2-IDXTERM-624"/> <a class="indexterm" id="csharpess2-IDXTERM-625"/>and the FCL provide a rich set of features that make
      math-oriented programming easy and efficient.</p><p>This section identifies some of the most common types applicable
      to math programming and demonstrates how to build new math types. The
      types mentioned in this section exist in the<a class="indexterm" id="IXT-3-218536"/> <code class="literal">System</code>namespace.</p><div class="sect2" title="Language Support for Math"><div class="titlepage"><div><div><h2 class="title"><a id="csharpess2-CHP-3-SECT-2.1"/>Language Support for Math</h2></div></div></div><p>C# has many useful features for math and can even build custom
        mathematical types. Operator overloading allows custom mathematical
        types, such as complex numbers and vectors, to be used in a natural
        way. Rectangular arrays provide a fast and easy way to express
        matrices. Finally, structs allow the efficient creation of
        low-overhead objects. For example:</p><a id="I_3_tt277"/><pre class="programlisting">struct Vector {
  float direction;
  float magnitude;
  public Vector(float direction, float magnitude) {
    this.direction = direction;
    this.magnitude = magnitude;
  }
  public static Vector operator *(Vector v, float scale) {
    return new Vector(v.direction, v.magnitude * scale);
  }
  public static Vector operator /(Vector v, float scale) {
    return new Vector(v.direction, v.magnitude * scale);
  }
  // ...
}
class Test {
  static void Main(  ) {
  Vector [,] matrix = {{new Vector(1f,2f), new Vector(6f,2f)},
                       {new Vector(7f,3f), new Vector(4f,9f)}};
  for (int i=0; i&lt;matrix.GetLength(0); i++)
    for (int j=0; j&lt;matrix.GetLength(1); j++)
      matrix[i, j] *= 2f;
  }
}</pre></div><div class="sect2" title="Special Types and Operators"><div class="titlepage"><div><div><h2 class="title"><a id="csharpess2-CHP-3-SECT-2.2"/>Special Types and Operators</h2></div></div></div><p>The<a class="indexterm" id="IXT-3-218537"/> <a class="indexterm" id="IXT-3-218538"/> <a class="indexterm" id="IXT-3-218539"/> <code class="literal">decimal</code><a class="indexterm" id="IXT-3-218540"/> <a class="indexterm" id="IXT-3-218541"/> datatype is useful for financial calculations, since it
        is a base<sub>10</sub> number that can store 28 to 29
        significant figures (see <a class="link" href="ch02s02.html#csharpess2-CHP-2-SECT-2.5.3" title="decimal type">Section 2.2.5.3</a>).</p><p>The <code class="literal">checked</code> operator allows
        integral operations to be bounds checked (see <a class="link" href="ch02s04.html#csharpess2-CHP-2-SECT-4.2" title="Arithmetic Overflow Check Operators">Section 2.4.2</a>).</p></div><div class="sect2" title="Math Class"><div class="titlepage"><div><div><h2 class="title"><a id="csharpess2-CHP-3-SECT-2.3"/>Math Class</h2></div></div></div><p>The<a class="indexterm" id="IXT-3-218542"/> <a class="indexterm" id="IXT-3-218543"/> <code class="literal">Math</code> class provides
        static methods and constants for basic mathematical purposes. All
        trigonometric and exponential functions use the <code class="literal">double</code><a class="indexterm" id="IXT-3-218544"/> type, and all angles use radians. For example:</p><a id="I_3_tt278"/><pre class="programlisting">using System;
class Test {
  static void Main(  ) {
    double a = 3;
    double b = 4;
    double C = Math.PI / 2;
    double c = Math.Sqrt (a*a+b*b-2*a*b*Math.Cos(C));
    Console.WriteLine("The length of side c is "+c);
  }
}</pre></div><div class="sect2" title="Random Class"><div class="titlepage"><div><div><h2 class="title"><a id="csharpess2-CHP-3-SECT-2.4"/>Random Class</h2></div></div></div><p>The <code class="literal">Random</code><a class="indexterm" id="IXT-3-218545"/> <a class="indexterm" id="IXT-3-218546"/> class produces pseudo-random numbers and may be
        extended if you require greater randomness (for cryptographically
        strong random numbers, see the <code class="literal">System.Security.Cryptography.RandomNumberGenerator</code>
        class). The random values returned are always between a <a class="indexterm" id="IXT-3-218547"/> <a class="indexterm" id="IXT-3-218548"/>minimum (inclusive) value and a <a class="indexterm" id="IXT-3-218549"/> <a class="indexterm" id="IXT-3-218550"/>maximum (exclusive) value. By default, the <code class="literal">Random</code> class uses the current time as its
        seed, but a custom seed can also be supplied to the constructor.
        Here’s a simple <a class="indexterm" id="IXTR3-33"/>
        <a class="indexterm" id="IXTR3-34"/>example:</p><a id="I_3_tt279"/><pre class="programlisting">Random r = new Random(  );
Console.WriteLine(r.Next(50)); // return between 0 and 50</pre></div></div></body></html>