* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background: url("img/fundo.jpg");
	width: 100%;
	height: 100%;
}

.menu-principal {
	width: 100%;
	background-color: #1e1e20;
	height: 130px;
	position: fixed;
	z-index: 10000;
}

main {
	margin: 0%;
	width: 100%;
	position: relative;
}

.espaco-cabecalho {
	padding-top: 150px;
}

.container-menu {
	width: 100%;
	display: inline-flex;
	height: 100%;
	margin-bottom: 1%;
}

.lg {
	width: 25%;
	height: 100%;
	margin-right: 5%;
}

.logo {
	width: 150%;
	height: 150%;
}

.container-seach {
	width: 100%;
	margin-left: 1%;
	margin-right: 1%;
	height: 100%;
	align-self: center;
	align-items: center;
	align-content: center;
}

.container-icons {
	width: 45%;
	height: 100%;
	display: inline-flex;
	align-self: center;
	align-items: center;
	align-content: center;
}

.container-login {
	width: 50%;
	height: 20%;
	text-align: center;
}

.btn-login{
	border: transparent;
	background-color: transparent;
	width: 45%;
	height: 45%;
}

.btn-login img{
	border: none;
	width: 220%;
	height: 220%;
}

.carrinho {
	width: 50%;
	height: 20%;
	text-align: right;
}

.btn-carrinho {
	border: transparent;
	background-color: transparent;
	width: 45%;
	height: 45%;
}

.btn-carrinho img {
	border: none;
	width: 90%;
	height: 90%;
}


.search-box{
	background: #696969;
	height: 100%;
	border-radius: 40px;
	padding: 1%;
	width: 75%;
	display: inline-flex;
}

.search-btn {
	color: #FFFFFF;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #000000;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.search-input {
	width: 90%;
	text-align: left;
}

.search-icon {
	width: 8%;
	text-align: right;
	margin-right: 2%;
}

.search-txt {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: #FFFFFF;
	font-size: 15px;
	transition: 0.5s;
	line-height: 40px;
	width: 100%;
	padding-left: 4%;
	padding-right: 3%;
}

::-webkit-input-placeholder{
  color: #D3D3D3;
}

.team {
	padding: 100px 0px;
	padding-left: 9%;
	padding-right: 9%;
}

.menu {
    width: 100%;
    height: 55px;
    background-color: #000000;
    font-family: 'Bahnschrift SemiBold';
    float: left;
    padding: 1px 2%;
    padding-left: 21%;
}

.menu ul{
	list-style: none;
	position: relative;
}

.menu ul li{
	width: 150px;
	float: left;
}

.menu a{
	padding: 15px;
	display: block;
	text-decoration: none;
	text-align: center;
	background-color: #000000;
	color: #fff;
}

.menu ul ul{
	position: absolute;
	visibility: hidden;
}

.menu ul li:hover ul{
	visibility: visible;
	z-index: 10;
	text-decoration: none;
}

.menu a:hover{
	background-color: #f4f4f4;
	color: #555;
	text-decoration: none;
}

.menu ul ul li {
	float: none;
	border-bottom: solid 1px #ccc;
}

.menu ul ul li a{
	background-color: #696969;
}

.corpo {
    margin-left: 12%;
    margin-right: 12%;
    background-color: white;
    min-height: 4500px;	
    width: 75%;
    text-align: center;
}

.vitrine{
	text-align: left;
	width: 250px;
	overflow: hidden;
	float: left;
	display: inline;
	margin: 20px 14px 20px 14px;
	padding: 0 15px 0 15px;
	border: 1px solid #ccc;
	height: 500px;
	background: #fff;
}

.H-img{
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
}

.H-img a img{
	vertical-align: middle;
}

.H-img img{
	border: 0;
	text-align: right;
}

.align-list{
	position: relative;
	height: 100px;
}

.H-titulo{
	font-family: Arial;
	font-size: 20px;
	color: #000000;
	margin: 0 0 10px 0;
}

.H-preco{
	width: 100%;
	height: 30px;
	padding: 4px 0 0px 48px;
	font-family: Arial;
	font-size: 22px;
	color: #21805D;
	margin: 0;
	text-align: left;
}

.H-preco12x{
	margin: 0;
	width: 100%;
	height: 20px;
	padding: 6px 0 0 28px;
	text-align: left;
	font-family: Arial;
	font-size: 16px;
	color: #424551;
}

.H-semjuros{
	margin: 0;
	width: 100%;
	height: 20px;
	padding: 6px 0 0 35px;
	font-family: Arial;
	font-size: 14px;
	color: #424551;
}

.H-comprar{
	margin: 0;
	padding: 3px 0 0 38px;
}

.btn2 {
	font-family:'Bahnschrift SemiBold';
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 15px 20px;
	cursor: pointer;
	border: 1px solid #000000;
	border-radius: 5px;
}

.btn-amarelo{
	background: #F0D655;
	color: #000000;
	box-shadow: 2px 2px 2px #BAA247;

}

.btn-amarelo:hover{
	background: #CEB759;
	color: #000000;
	box-shadow: 2px 2px 2px #BAA247;
}

/*---------------- CSS MATOS ACIMA ----------------*/

.box{
	width: 34%;
	margin-top: 3%;
	margin-left: 33%;
	margin-right: 33%;
	padding: 40px;
	background: rgba(255,255,255,1);
	text-align: center;
	border: 3px solid black;
}

.box h1{
	color: white;
	text-transform: uppercase;
	font-weight: 850;
}

.box input[type = "text"], .box input[type = "email"], .box input[type = "password"]{
	border: 0;
	background: rgba(250,250,250,1);
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #F0D655;
	padding: 14px 10px;
	width: 100%;
	outline: none;
	color: black;
}

.box2{
	width: 33%;
	padding: 40px;
	margin-top: 2%;
	margin-bottom: 1%;
	margin-left: 33%;
	margin-right: 33%;
	background: rgba(255,255,255,1);
	text-align: center;
	border: 3px solid black;
}

.box2 h4{
	margin-bottom: 10%;
}

.box2 h1{
	color: white;
	text-transform: uppercase;
	font-weight: 850;
}

.box2 input[name = "email"], .box2 input[name = "nome"]{
	border: 0;
	background: rgba(250,250,250,1);
	display: block;
	margin: 5px auto;
	text-align: center;
	border: 2px solid #F0D655;
	padding: 14px 10px;
	width: 100%;
	outline: none;
	color: black;
}

.box2 input[name = "senha"]{
	border: 0;
	background: rgba(250,250,250,1);
	display: block;
	margin: 5px auto;
	text-align: center;
	border: 2px solid #F0D655;
	padding: 14px 10px;
	width: 100%;
	outline: none;
	color: black;
	margin-bottom: 10%;
}

.box2 input[name = "data_nasc"], .box2 input[name = "cpf"], .box2 select[name = "sexo"], .box2 input[name = "telefone"]{
	border: 0;
	background: rgba(250,250,250,1);
	margin: 5px auto;
	text-align: center;
	border: 2px solid #F0D655;
	padding: 14px 10px;
	width: 49%;
	outline: none;
	color: black;
	box-sizing: border-box;
}

.box2 :hover{

}

.btn-login1{
	border: none;
	background-color: transparent;
	box-shadow: none;
}

.imgLogin{
	height: 80px;
}

.btn-cadastro{
	border: none;
	background-color: transparent;
	box-shadow: none;
}

.imgCadastro{
	height: 80px;
}

.criar-conta {
	margin-top: 1%;
	font-size: 14px;
}

.corpo1 {
    margin-left: 20%;
    background-color: white;
    min-height: 900px;
    width: 809px;
    height: 1183px;
}

.title1 {
	margin-left: 1%;
	font-size: 22px;
}

.pc1 {
	margin-left: 2%;
	margin-top: 3%;
	width: 398px;
    height: 398px;
	border: 1px solid #ccc;
	padding: 3px;
}

.borda {
	margin-top: 3%;
	margin-right: 5%;
	border: 1px solid #ccc !important;
	width: 314px;
	height: 200px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	float: right;
}

.preco {
	font-size: 24px;
	color: #21805D;
	width: 284px;
	height: 24px;
}

.juros {
	width: 284px;
	height: 18px;
	margin-bottom: 20px;
	display: table;
}

.btn-comprar {
	border: none;
	background-color: transparent;
	box-shadow: none;
	width: 100%;
	padding: 10%;
}

.img-comprar{
	width: 100%;
}

.pc2 {
	padding: 15px;
	margin-top: 1%;
	font-size: 13px;
}

.title2 {
	font-size: 15px;
	border: 1px solid #ccc;
	color: #21805D;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 15px;
	padding-right: 15px;
	width: 300px;
	height: 35px;
	text-align: left;
}

.pcbox {
	width: 100%;
	border: 1px solid #ccc;
	padding: 15px;
	text-align: left;
}

.title3 {
	font-size: 15px;
	color: #21805D;
}

.corpo2 {
    margin-left: 20%;
    background-color: white;
    min-height: 900px;
    width: 809px;
    height: 1393px;
}

.title4 {
	margin-left: 1%;
	font-size: 22px;
}

.morcego {
	margin-left: 2%;
	margin-top: 3%;
	width: 398px;
    height: 398px;
	border: 1px solid #ccc;
	padding: 3px;
}

.borda2 {
	margin-top: 3%;
	margin-right: 5%;
	border: 1px solid #ccc !important;
	width: 314px;
	height: 200px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	float: right;
}

.preco2 {
	font-size: 24px;
	color: #21805D;
	width: 284px;
	height: 24px;
}

.juros2 {
	width: 284px;
	height: 18px;
	margin-bottom: 20px;
	display: table;
}

.btn-comprar2 {
	border: none;
	background-color: transparent;
	box-shadow: none;
	width: 100%;
	padding: 10%;
}

.img-comprar2 {
	width: 100%;
}

.morcego2 {
	padding: 15px;
	margin-top: 1%;
	font-size: 13px;
}

.title5 {
	font-size: 15px;
	border: 1px solid #ccc;
	color: #21805D;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 15px;
	padding-right: 15px;
	width: 300px;
	height: 35px;
	text-align: left;
}

.hsbox {
	width: 100%;
	border: 1px solid #ccc;
	padding: 15px;
	text-align: left;
}

.title6 {
	font-size: 15px;
	color: #21805D;
}

.corpo3 {
    margin-left: 20%;
    background-color: white;
    min-height: 900px;
    width: 809px;
    height: 1165px;
}

.title7 {
	margin-left: 1%;
	font-size: 22px;
}

.memoria {
	margin-left: 2%;
	margin-top: 3%;
	width: 398px;
    height: 398px;
	border: 1px solid #ccc;
	padding: 3px;
}

.borda3 {
	margin-top: 3%;
	margin-right: 5%;
	border: 1px solid #ccc !important;
	width: 314px;
	height: 200px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	float: right;
}

.preco3 {
	font-size: 24px;
	color: #21805D;
	width: 284px;
	height: 24px;
}

.juros3 {
	width: 284px;
	height: 18px;
	margin-bottom: 20px;
	display: table;
}

.btn-comprar3 {
	border: none;
	background-color: transparent;
	box-shadow: none;
	width: 100%;
	padding: 10%;
}

.img-comprar3 {
	width: 100%;
}

.memoria2 {
	padding: 15px;
	margin-top: 1%;
	font-size: 13px;
}

.title8 {
	font-size: 15px;
	border: 1px solid #ccc;
	color: #21805D;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 15px;
	padding-right: 15px;
	width: 300px;
	height: 35px;
	text-align: left;
}

.memoriabox {
	width: 100%;
	border: 1px solid #ccc;
	padding: 15px;
	text-align: left;
}

.title9 {
	font-size: 15px;
	color: #21805D;
}

.corpo4 {
    margin-left: 20%;
    background-color: white;
    min-height: 900px;
    width: 809px;
    height: 1777px;
}

.title10 {
	margin-left: 1%;
	font-size: 22px;
}

.monitor {
	margin-left: 2%;
	margin-top: 3%;
	width: 398px;
    height: 398px;
	border: 1px solid #ccc;
	padding: 3px;
}

.borda4 {
	margin-top: 3%;
	margin-right: 5%;
	border: 1px solid #ccc !important;
	width: 314px;
	height: 200px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	float: right;
}

.preco4 {
	font-size: 24px;
	color: #21805D;
	width: 284px;
	height: 24px;
}

.juros4 {
	width: 284px;
	height: 18px;
	margin-bottom: 20px;
	display: table;
}

.btn-comprar4 {
	border: none;
	background-color: transparent;
	box-shadow: none;
	width: 100%;
	padding: 10%;
}

.img-comprar4 {
	width: 100%;
}

.monitor2 {
	padding: 15px;
	margin-top: 1%;
	font-size: 13px;
}

.title11 {
	font-size: 15px;
	border: 1px solid #ccc;
	color: #21805D;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 15px;
	padding-right: 15px;
	width: 300px;
	height: 35px;
	text-align: left;
}

.monitorbox {
	width: 100%;
	border: 1px solid #ccc;
	padding: 15px;
	text-align: left;
}

.title12 {
	font-size: 15px;
	color: #21805D;
}

.corpo5 {
    margin-left: 20%;
    background-color: white;
    min-height: 900px;
    width: 809px;
    height: 1183px;
}

.title13 {
	margin-left: 1%;
	font-size: 22px;
}

.mouse {
	margin-left: 2%;
	margin-top: 3%;
	width: 398px;
    height: 398px;
	border: 1px solid #ccc;
	padding: 3px;
}

.borda5 {
	margin-top: 3%;
	margin-right: 5%;
	border: 1px solid #ccc !important;
	width: 314px;
	height: 200px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	float: right;
}

.preco5 {
	font-size: 24px;
	color: #21805D;
	width: 284px;
	height: 24px;
}

.juros5 {
	width: 284px;
	height: 18px;
	margin-bottom: 20px;
	display: table;
}

.btn-comprar5 {
	border: none;
	background-color: transparent;
	box-shadow: none;
	width: 100%;
	padding: 10%;
}

.img-comprar5 {
	width: 100%;
}

.mouse2 {
	padding: 15px;
	margin-top: 1%;
	font-size: 13px;
}

.title14 {
	font-size: 15px;
	border: 1px solid #ccc;
	color: #21805D;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 15px;
	padding-right: 15px;
	width: 300px;
	height: 35px;
	text-align: left;
}

.mousebox {
	width: 100%;
	border: 1px solid #ccc;
	padding: 15px;
	text-align: left;
}

.title15 {
	font-size: 15px;
	color: #21805D;
}

.corpo6 {
    margin-left: 20%;
    background-color: white;
    min-height: 900px;
    width: 809px;
    height: 1088px;
}

.title16 {
	margin-left: 1%;
	font-size: 22px;
}

.mousepad {
	margin-left: 2%;
	margin-top: 3%;
	width: 398px;
    height: 398px;
	border: 1px solid #ccc;
	padding: 3px;
}

.borda6 {
	margin-top: 3%;
	margin-right: 5%;
	border: 1px solid #ccc !important;
	width: 314px;
	height: 200px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	float: right;
}

.preco6 {
	font-size: 24px;
	color: #21805D;
	width: 284px;
	height: 24px;
}

.juros6 {
	width: 284px;
	height: 18px;
	margin-bottom: 20px;
	display: table;
}

.btn-comprar6 {
	border: none;
	background-color: transparent;
	box-shadow: none;
	width: 100%;
	padding: 10%;
}

.img-comprar6 {
	width: 100%;
}

.mousepad2 {
	padding: 15px;
	margin-top: 1%;
	font-size: 13px;
}

.title17{
	font-size: 15px;
	border: 1px solid #ccc;
	color: #21805D;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 15px;
	padding-right: 15px;
	width: 300px;
	height: 35px;
	text-align: left;
}

.mousepadbox {
	width: 100%;
	border: 1px solid #ccc;
	padding: 15px;
	text-align: left;
}

.title18 {
	font-size: 15px;
	color: #21805D;
}

.corpo7 {
    margin-left: 20%;
    background-color: white;
    min-height: 900px;
    width: 809px;
    height: 2423px;
}

.title19 {
	margin-left: 1%;
	font-size: 22px;
}

.notebook {
	margin-left: 2%;
	margin-top: 3%;
	width: 398px;
    height: 398px;
	border: 1px solid #ccc;
	padding: 3px;
}

.borda7 {
	margin-top: 3%;
	margin-right: 5%;
	border: 1px solid #ccc !important;
	width: 314px;
	height: 200px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	float: right;
}

.preco7 {
	font-size: 24px;
	color: #21805D;
	width: 284px;
	height: 24px;
}

.juros7 {
	width: 284px;
	height: 18px;
	margin-bottom: 20px;
	display: table;
}

.btn-comprar7 {
	border: none;
	background-color: transparent;
	box-shadow: none;
	width: 100%;
	padding: 10%;
}

.img-comprar7 {
	width: 100%;
}

.notebook2 {
	padding: 15px;
	margin-top: 1%;
	font-size: 13px;
}

.title20{
	font-size: 15px;
	border: 1px solid #ccc;
	color: #21805D;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 15px;
	padding-right: 15px;
	width: 300px;
	height: 35px;
	text-align: left;
}

.notebookbox {
	width: 100%;
	border: 1px solid #ccc;
	padding: 15px;
	text-align: left;
}

.title21 {
	font-size: 15px;
	color: #21805D;
}

.corpo8 {
    margin-left: 20%;
    background-color: white;
    min-height: 900px;
    width: 809px;
    height: 2081px;
}

.title22 {
	margin-left: 1%;
	font-size: 22px;
}

.placa {
	margin-left: 2%;
	margin-top: 3%;
	width: 398px;
    height: 398px;
	border: 1px solid #ccc;
	padding: 3px;
}

.borda8 {
	margin-top: 3%;
	margin-right: 5%;
	border: 1px solid #ccc !important;
	width: 314px;
	height: 200px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	float: right;
}

.preco8 {
	font-size: 24px;
	color: #21805D;
	width: 284px;
	height: 24px;
}

.juros8 {
	width: 284px;
	height: 18px;
	margin-bottom: 20px;
	display: table;
}

.btn-comprar8 {
	border: none;
	background-color: transparent;
	box-shadow: none;
	width: 100%;
	padding: 10%;
}

.img-comprar8 {
	width: 100%;
}

.placa2 {
	padding: 15px;
	margin-top: 1%;
	font-size: 13px;
}

.title23{
	font-size: 15px;
	border: 1px solid #ccc;
	color: #21805D;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 15px;
	padding-right: 15px;
	width: 300px;
	height: 35px;
	text-align: left;
}

.placabox {
	width: 100%;
	border: 1px solid #ccc;
	padding: 15px;
	text-align: left;
}

.title24 {
	font-size: 15px;
	color: #21805D;
}

.corpo9 {
    margin-left: 20%;
    background-color: white;
    min-height: 900px;
    width: 809px;
    height: 1416px;
}

.title25 {
	margin-left: 1%;
	font-size: 22px;
}

.teclado {
	margin-left: 2%;
	margin-top: 3%;
	width: 398px;
    height: 398px;
	border: 1px solid #ccc;
	padding: 3px;
}

.borda9 {
	margin-top: 3%;
	margin-right: 5%;
	border: 1px solid #ccc !important;
	width: 314px;
	height: 200px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	float: right;
}

.preco9 {
	font-size: 24px;
	color: #21805D;
	width: 284px;
	height: 24px;
}

.juros9 {
	width: 284px;
	height: 18px;
	margin-bottom: 20px;
	display: table;
}

.btn-comprar9 {
	border: none;
	background-color: transparent;
	box-shadow: none;
	width: 100%;
	padding: 10%;
}

.img-comprar9 {
	width: 100%;
}

.teclado2 {
	padding: 15px;
	margin-top: 1%;
	font-size: 13px;
}

.title26{
	font-size: 15px;
	border: 1px solid #ccc;
	color: #21805D;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 15px;
	padding-right: 15px;
	width: 300px;
	height: 35px;
	text-align: left;
}

.tecladobox {
	width: 100%;
	border: 1px solid #ccc;
	padding: 15px;
	text-align: left;
}

.title27 {
	font-size: 15px;
	color: #21805D;
}

.corpo10 {
    margin-left: 20%;
    background-color: white;
    min-height: 900px;
    width: 809px;
    height: 1772px;
}

.title28 {
	margin-left: 1%;
	font-size: 22px;
}

.monitorr {
	margin-left: 2%;
	margin-top: 3%;
	width: 398px;
    height: 398px;
	border: 1px solid #ccc;
	padding: 3px;
}

.borda10 {
	margin-top: 3%;
	margin-right: 5%;
	border: 1px solid #ccc !important;
	width: 314px;
	height: 200px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	float: right;
}

.preco10 {
	font-size: 24px;
	color: #21805D;
	width: 284px;
	height: 24px;
}

.juros10 {
	width: 284px;
	height: 18px;
	margin-bottom: 20px;
	display: table;
}

.btn-comprar10 {
	border: none;
	background-color: transparent;
	box-shadow: none;
	width: 100%;
	padding: 10%;
}

.img-comprar10 {
	width: 100%;
}

.monitorr2 {
	padding: 15px;
	margin-top: 1%;
	font-size: 13px;
}

.title29{
	font-size: 15px;
	border: 1px solid #ccc;
	color: #21805D;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 15px;
	padding-right: 15px;
	width: 300px;
	height: 35px;
	text-align: left;
}

.monitor2box {
	width: 100%;
	border: 1px solid #ccc;
	padding: 15px;
	text-align: left;
}

.title30 {
	font-size: 15px;
	color: #21805D;
}

.corpo11 {
    margin-left: 20%;
    background-color: white;
    min-height: 900px;
    width: 809px;
    height: 1677px;
}

.title31 {
	margin-left: 1%;
	font-size: 22px;
}

.monitorrr {
	margin-left: 2%;
	margin-top: 3%;
	width: 398px;
    height: 398px;
	border: 1px solid #ccc;
	padding: 3px;
}

.borda11 {
	margin-top: 3%;
	margin-right: 5%;
	border: 1px solid #ccc !important;
	width: 314px;
	height: 200px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	float: right;
}

.preco11 {
	font-size: 24px;
	color: #21805D;
	width: 284px;
	height: 24px;
}

.juros11 {
	width: 284px;
	height: 18px;
	margin-bottom: 20px;
	display: table;
}

.btn-comprar11 {
	border: none;
	background-color: transparent;
	box-shadow: none;
	width: 100%;
	padding: 10%;
}

.img-comprar11 {
	width: 100%;
}

.monitorrr2 {
	padding: 15px;
	margin-top: 1%;
	font-size: 13px;
}

.title32{
	font-size: 15px;
	border: 1px solid #ccc;
	color: #21805D;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 15px;
	padding-right: 15px;
	width: 300px;
	height: 35px;
	text-align: left;
}

.monitor3box {
	width: 100%;
	border: 1px solid #ccc;
	padding: 15px;
	text-align: left;
}

.title33 {
	font-size: 15px;
	color: #21805D;
}

.corpo12 {
    margin-left: 20%;
    background-color: white;
    min-height: 900px;
    width: 809px;
    height: 2119px;
}

.title34 {
	margin-left: 1%;
	font-size: 22px;
}

.monitorrrr {
	margin-left: 2%;
	margin-top: 3%;
	width: 398px;
    height: 398px;
	border: 1px solid #ccc;
	padding: 3px;
}

.borda12 {
	margin-top: 3%;
	margin-right: 5%;
	border: 1px solid #ccc !important;
	width: 314px;
	height: 200px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	float: right;
}

.preco12 {
	font-size: 24px;
	color: #21805D;
	width: 284px;
	height: 24px;
}

.juros12 {
	width: 284px;
	height: 18px;
	margin-bottom: 20px;
	display: table;
}

.btn-comprar12 {
	border: none;
	background-color: transparent;
	box-shadow: none;
	width: 100%;
	padding: 10%;
}

.img-comprar12 {
	width: 100%;
}

.monitorrrr2 {
	padding: 15px;
	margin-top: 1%;
	font-size: 13px;
}

.title35{
	font-size: 15px;
	border: 1px solid #ccc;
	color: #21805D;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 15px;
	padding-right: 15px;
	width: 300px;
	height: 35px;
	text-align: left;
}

.monitor4box {
	width: 100%;
	border: 1px solid #ccc;
	padding: 15px;
	text-align: left;
}

.title36 {
	font-size: 15px;
	color: #21805D;
}

.corpo13 {
    margin-left: 20%;
    background-color: white;
    min-height: 900px;
    width: 809px;
    height: 2119px;
}

.title37 {
	margin-left: 1%;
	font-size: 22px;
}

.monitorrrrr {
	margin-left: 2%;
	margin-top: 3%;
	width: 398px;
    height: 398px;
	border: 1px solid #ccc;
	padding: 3px;
}

.borda13 {
	margin-top: 3%;
	margin-right: 5%;
	border: 1px solid #ccc !important;
	width: 314px;
	height: 200px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	float: right;
}

.preco13 {
	font-size: 24px;
	color: #21805D;
	width: 284px;
	height: 24px;
}

.juros13 {
	width: 284px;
	height: 18px;
	margin-bottom: 20px;
	display: table;
}

.btn-comprar13 {
	border: none;
	background-color: transparent;
	box-shadow: none;
	width: 100%;
	padding: 10%;
}

.img-comprar13 {
	width: 100%;
}

.monitorrrrr2 {
	padding: 15px;
	margin-top: 1%;
	font-size: 13px;
}

.title38{
	font-size: 15px;
	border: 1px solid #ccc;
	color: #21805D;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 15px;
	padding-right: 15px;
	width: 300px;
	height: 35px;
	text-align: left;
}

.monitor5box {
	width: 100%;
	border: 1px solid #ccc;
	padding: 15px;
	text-align: left;
}

.title39 {
	font-size: 15px;
	color: #21805D;
}

.corpo14 {
    margin-left: 20%;
    background-color: white;
    min-height: 900px;
    width: 809px;
    height: 1720px;
}

.title40 {
	margin-left: 1%;
	font-size: 22px;
}

.webcamm {
	margin-left: 2%;
	margin-top: 3%;
	width: 398px;
    height: 398px;
	border: 1px solid #ccc;
	padding: 3px;
}

.borda14 {
	margin-top: 3%;
	margin-right: 5%;
	border: 1px solid #ccc !important;
	width: 314px;
	height: 200px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	float: right;
}

.preco14 {
	font-size: 24px;
	color: #21805D;
	width: 284px;
	height: 24px;
}

.juros14 {
	width: 284px;
	height: 18px;
	margin-bottom: 20px;
	display: table;
}

.btn-comprar14 {
	border: none;
	background-color: transparent;
	box-shadow: none;
	width: 100%;
	padding: 10%;
}

.img-comprar14 {
	width: 100%;
}

.webcamm2 {
	padding: 15px;
	margin-top: 1%;
	font-size: 13px;
}

.title41{
	font-size: 15px;
	border: 1px solid #ccc;
	color: #21805D;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 15px;
	padding-right: 15px;
	width: 300px;
	height: 35px;
	text-align: left;
}

.webcammbox {
	width: 100%;
	border: 1px solid #ccc;
	padding: 15px;
	text-align: left;
}

.title42 {
	font-size: 15px;
	color: #21805D;
}

.corpo15 {
    margin-left: 20%;
    background-color: white;
    min-height: 900px;
    width: 809px;
    height: 1373px;
}

.title43 {
	margin-left: 1%;
	font-size: 22px;
}

.cadeira{
	margin-left: 2%;
	margin-top: 3%;
	width: 398px;
    height: 398px;
	border: 1px solid #ccc;
	padding: 3px;
}

.borda15 {
	margin-top: 3%;
	margin-right: 5%;
	border: 1px solid #ccc !important;
	width: 314px;
	height: 200px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	float: right;
}

.preco15 {
	font-size: 24px;
	color: #21805D;
	width: 284px;
	height: 24px;
}

.juros15 {
	width: 284px;
	height: 18px;
	margin-bottom: 20px;
	display: table;
}

.btn-comprar15 {
	border: none;
	background-color: transparent;
	box-shadow: none;
	width: 100%;
	padding: 10%;
}

.img-comprar15 {
	width: 100%;
}

.cadeira2 {
	padding: 15px;
	margin-top: 1%;
	font-size: 13px;
}

.title44{
	font-size: 15px;
	border: 1px solid #ccc;
	color: #21805D;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 15px;
	padding-right: 15px;
	width: 300px;
	height: 35px;
	text-align: left;
}

.cadeirabox {
	width: 100%;
	border: 1px solid #ccc;
	padding: 15px;
	text-align: left;
}

.title45 {
	font-size: 15px;
	color: #21805D;
}

.corpo16 {
    margin-left: 20%;
    background-color: white;
    min-height: 900px;
    width: 809px;
    height: 1620px;
}

.title46 {
	margin-left: 1%;
	font-size: 22px;
}

.cabo{
	margin-left: 2%;
	margin-top: 3%;
	width: 398px;
    height: 398px;
	border: 1px solid #ccc;
	padding: 3px;
}

.borda16 {
	margin-top: 3%;
	margin-right: 5%;
	border: 1px solid #ccc !important;
	width: 314px;
	height: 200px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	float: right;
}

.preco16 {
	font-size: 24px;
	color: #21805D;
	width: 284px;
	height: 24px;
}

.juros16 {
	width: 284px;
	height: 18px;
	margin-bottom: 20px;
	display: table;
}

.btn-comprar16 {
	border: none;
	background-color: transparent;
	box-shadow: none;
	width: 100%;
	padding: 10%;
}

.img-comprar16 {
	width: 100%;
}

.cabo2 {
	padding: 15px;
	margin-top: 1%;
	font-size: 13px;
}

.title47{
	font-size: 15px;
	border: 1px solid #ccc;
	color: #21805D;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 15px;
	padding-right: 15px;
	width: 300px;
	height: 35px;
	text-align: left;
}

.cabobox {
	width: 100%;
	border: 1px solid #ccc;
	padding: 15px;
	text-align: left;
}

.title48 {
	font-size: 15px;
	color: #21805D;
}

.corpo17 {
    margin-left: 20%;
    background-color: white;
    min-height: 900px;
    width: 809px;
    height: 1050px;
}

.title49 {
	margin-left: 1%;
	font-size: 22px;
}

.acessorio{
	margin-left: 2%;
	margin-top: 3%;
	width: 398px;
    height: 398px;
	border: 1px solid #ccc;
	padding: 3px;
}

.borda17 {
	margin-top: 3%;
	margin-right: 5%;
	border: 1px solid #ccc !important;
	width: 314px;
	height: 200px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	float: right;
}

.preco17 {
	font-size: 24px;
	color: #21805D;
	width: 284px;
	height: 24px;
}

.juros17 {
	width: 284px;
	height: 18px;
	margin-bottom: 20px;
	display: table;
}

.btn-comprar17 {
	border: none;
	background-color: transparent;
	box-shadow: none;
	width: 100%;
	padding: 10%;
}

.img-comprar17 {
	width: 100%;
}

.acessorio2 {
	padding: 15px;
	margin-top: 1%;
	font-size: 13px;
}

.title50{
	font-size: 15px;
	border: 1px solid #ccc;
	color: #21805D;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 15px;
	padding-right: 15px;
	width: 300px;
	height: 35px;
	text-align: left;
}

.acessoriobox {
	width: 100%;
	border: 1px solid #ccc;
	padding: 15px;
	text-align: left;
}

.title51 {
	font-size: 15px;
	color: #21805D;
}

.boxcompra {
	width: 33%;
	padding: 40px;
	margin-top: 2%;
	margin-bottom: 1%;
	margin-left: 33%;
	margin-right: 33%;
	background: rgba(255,255,255,1);
	text-align: left;
	border: 3px solid black;
}

.boxcompra input[name = "rua"], .boxcompra input[name = "bairro"]{
	border: 0;
	background: rgba(250,250,250,1);
	display: block;
	margin: 5px auto;
	text-align: center;
	border: 2px solid #F0D655;
	padding: 14px 10px;
	width: 100%;
	outline: none;
	color: black;
}

.boxcompra input[name = "numero"], .boxcompra input[name = "complemento"]{
	border: 0;
	background: rgba(250,250,250,1);
	margin: 5px auto;
	text-align: center;
	border: 2px solid #F0D655;
	padding: 14px 10px;
	width: 49%;
	outline: none;
	color: black;
	box-sizing: border-box;
}

.boxcompra input[name = "cidade"], .boxcompra select[name = "estado"]{
	border: 0;
	background: rgba(250,250,250,1);
	margin: 5px auto;
	text-align: center;
	border: 2px solid #F0D655;
	padding: 14px 10px;
	width: 49%;
	outline: none;
	color: black;
	box-sizing: border-box;
	margin-bottom: 10%;
}

.boxcompra input[name = "num_cred"], .boxcompra input[name = "nome_titular"]{
	border: 0;
	background: rgba(250,250,250,1);
	display: block;
	margin: 5px auto;
	text-align: center;
	border: 2px solid #F0D655;
	padding: 14px 10px;
	width: 100%;
	outline: none;
	color: black;
}

.boxcompra input[name = "cpf"], .boxcompra input[name = "nasc_data"]{
	border: 0;
	background: rgba(250,250,250,1);
	margin: 5px auto;
	text-align: center;
	border: 2px solid #F0D655;
	padding: 14px 10px;
	width: 49%;
	outline: none;
	color: black;
	box-sizing: border-box;
}

.boxcompra select[name = "mês"], .boxcompra input[name = "ano"]{
	border: 0;
	background: rgba(250,250,250,1);
	margin: 5px auto;
	text-align: center;
	border: 2px solid #F0D655;
	padding: 14px 10px;
	width: 49%;
	outline: none;
	color: black;
	box-sizing: border-box;
}

.boxcompra select[name = "parcelas"]{
	border: 0;
	background: rgba(250,250,250,1);
	display: block;
	margin: 5px auto;
	text-align: center;
	border: 2px solid #F0D655;
	padding: 14px 10px;
	width: 100%;
	outline: none;
	color: black;
	height: 57px;
	margin-top: 1.6%;
}

.boxcompra h4{
	margin-bottom: 10%;
}